@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		@apply bg-gray-100 text-gray-600 font-sans;
	}

	/* Typography utilities */
	.text-xl-bold {
		@apply text-xl font-bold;
	}

	.text-lg-bold {
		@apply text-lg font-bold;
	}

	.text-md-semibold {
		@apply text-md font-semibold;
	}

	.text-sm-regular {
		@apply text-sm font-regular;
	}

	.text-sm-semibold {
		@apply text-sm font-semibold;
	}

	.text-xs-regular {
		@apply text-xs font-regular uppercase;
	}
}

@layer components {
	/* Focus ring */
	.focus-ring {
		@apply focus:outline-none focus:ring-2 focus:ring-blue-base focus:ring-offset-2;
	}
}
